<a href="https://colab.research.google.com/github/Attachai-S/cp372-125PN-131AS-132AY/blob/main/cp372_report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Download data**

##**About dataset**
[This dataset](https://www.kaggle.com/datasets/airbnb/seattle/) Since 2008, guests and hosts have used Airbnb to travel in a more unique, personalized way. As part of the Airbnb Inside initiative, this dataset describes the listing activity of homestays in Seattle, WA.

<br>

Dataset source : https://www.kaggle.com/datasets/airbnb/seattle/

**import library**

In [97]:
import kagglehub
import os
import pandas as pd

In [98]:
# Download latest version dataset
path = kagglehub.dataset_download("airbnb/seattle")

print("Path to dataset files:", path)

Path to dataset files: /kaggle/input/seattle

In [ ]:
#check files from path
extract_path_file = !ls {path}

#extract each file to path
file_name = []
for csv_name in extract_path_file[0].split(" "):
  if csv_name != "" :
    file_name.append(os.path.join(path, csv_name))

file_name

['/kaggle/input/seattle/calendar.csv',
 '/kaggle/input/seattle/listings.csv',
 '/kaggle/input/seattle/reviews.csv']

#**Data preparation**

##**Explore raw data**

###Explore **calendar.csv**

In [99]:
Carlendar = file_name[0]# calendar.csv
CarlendarDf = pd.read_csv(Carlendar)
CarlendarDf.head()

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

In [ ]:
CarlendarDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393570 entries, 0 to 1393569
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1393570 non-null  int64
 1   date        1393570 non-null  object
 2   available   1393570 non-null  object
 3   price       934542 non-null   object
dtypes: int64(1), object(3)
memory usage: 42.5+ MB

In [ ]:
CarlendarDf.shape

(1393570, 4)

###Explore **listings.csv**

In [100]:
Listings = file_name[1]# listings.csv
ListingsDf = pd.read_csv(Listings)
ListingsDf.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [ ]:
ListingsDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 92 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3818 non-null   int64
 1   listing_url                       3818 non-null   object
 2   scrape_id                         3818 non-null   int64
 3   last_scraped                      3818 non-null   object
 4   name                              3818 non-null   object
 5   summary                           3641 non-null   object
 6   space                             3249 non-null   object
 7   description                       3818 non-null   object
 8   experiences_offered               3818 non-null   object
 9   neighborhood_overview             2786 non-null   object
 10  notes                             2212 non-null   object
 11  transit                           2884 non-null   object
 12  thumbnail_url                     3498 non-null   object
 13  medium_url                        3498 non-null   object
 14  picture_url                       3818 non-null   object
 15  xl_picture_url                    3498 non-null   object
 16  host_id                           3818 non-null   int64
 17  host_url                          3818 non-null   object
 18  host_name                         3816 non-null   object
 19  host_since                        3816 non-null   object
 20  host_location                     3810 non-null   object
 21  host_about                        2959 non-null   object
 22  host_response_time                3295 non-null   object
 23  host_response_rate                3295 non-null   object
 24  host_acceptance_rate              3045 non-null   object
 25  host_is_superhost                 3816 non-null   object
 26  host_thumbnail_url                3816 non-null   object
 27  host_picture_url                  3816 non-null   object
 28  host_neighbourhood                3518 non-null   object
 29  host_listings_count               3816 non-null   float64
 30  host_total_listings_count         3816 non-null   float64
 31  host_verifications                3816 non-null   object
 32  host_has_profile_pic              3816 non-null   object
 33  host_identity_verified            3816 non-null   object
 34  street                            3818 non-null   object
 35  neighbourhood                     3402 non-null   object
 36  neighbourhood_cleansed            3818 non-null   object
 37  neighbourhood_group_cleansed      3818 non-null   object
 38  city                              3818 non-null   object
 39  state                             3818 non-null   object
 40  zipcode                           3811 non-null   object
 41  market                            3818 non-null   object
 42  smart_location                    3818 non-null   object
 43  country_code                      3818 non-null   object
 44  country                           3818 non-null   object
 45  latitude                          3818 non-null   float64
 46  longitude                         3818 non-null   float64
 47  is_location_exact                 3818 non-null   object
 48  property_type                     3817 non-null   object
 49  room_type                         3818 non-null   object
 50  accommodates                      3818 non-null   int64
 51  bathrooms                         3802 non-null   float64
 52  bedrooms                          3812 non-null   float64
 53  beds                              3817 non-null   float64
 54  bed_type                          3818 non-null   object
 55  amenities                         3818 non-null   object
 56  square_feet                       97 non-null     float64
 57  price                             3818 non-null   object
 58  weekly_price                      2009 non-null   object
 59  monthly_price                     1517 non-null   object
 60  security_deposit                  1866 non-null   object
 61  cleaning_fee                      2788 non-null   object
 62  guests_included                   3818 non-null   int64
 63  extra_people                      3818 non-null   object
 64  minimum_nights                    3818 non-null   int64
 65  maximum_nights                    3818 non-null   int64
 66  calendar_updated                  3818 non-null   object
 67  has_availability                  3818 non-null   object
 68  availability_30                   3818 non-null   int64
 69  availability_60                   3818 non-null   int64
 70  availability_90                   3818 non-null   int64
 71  availability_365                  3818 non-null   int64
 72  calendar_last_scraped             3818 non-null   object
 73  number_of_reviews                 3818 non-null   int64
 74  first_review                      3191 non-null   object
 75  last_review                       3191 non-null   object
 76  review_scores_rating              3171 non-null   float64
 77  review_scores_accuracy            3160 non-null   float64
 78  review_scores_cleanliness         3165 non-null   float64
 79  review_scores_checkin             3160 non-null   float64
 80  review_scores_communication       3167 non-null   float64
 81  review_scores_location            3163 non-null   float64
 82  review_scores_value               3162 non-null   float64
 83  requires_license                  3818 non-null   object
 84  license                           0 non-null      float64
 85  jurisdiction_names                3818 non-null   object
 86  instant_bookable                  3818 non-null   object
 87  cancellation_policy               3818 non-null   object
 88  require_guest_profile_picture     3818 non-null   object
 89  require_guest_phone_verification  3818 non-null   object
 90  calculated_host_listings_count    3818 non-null   int64
 91  reviews_per_month                 3191 non-null   float64
dtypes: float64(17), int64(13), object(62)
memory usage: 2.7+ MB

In [ ]:
ListingsDf.shape

(3818, 92)

###Explore **reviews.csv**

In [101]:
Reviews = file_name[2]# reviews.csv
ReviewsDf = pd.read_csv(Reviews)
ReviewsDf.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [ ]:
ReviewsDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84849 entries, 0 to 84848
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     84849 non-null  int64
 1   id             84849 non-null  int64
 2   date           84849 non-null  object
 3   reviewer_id    84849 non-null  int64
 4   reviewer_name  84849 non-null  object
 5   comments       84831 non-null  object
dtypes: int64(3), object(3)
memory usage: 3.9+ MB

In [ ]:
ReviewsDf.shape

(84849, 6)

##Data cleaning

###**Data Cleaning for calendar.csv**

check null

In [102]:
total_null_vals = CarlendarDf.isnull().sum()
null_val_percent = (total_null_vals/ len(CarlendarDf)) * 100
null_val_percent

listing_id     0.000000
date           0.000000
available      0.000000
price         32.938998
dtype: float64

Drop column **"price"**

In [103]:
CarlendarDf.drop(columns=['price'], inplace=True)

In [104]:
total_null_vals = CarlendarDf.isnull().sum()
null_val_percent = (total_null_vals/ len(CarlendarDf)) * 100
null_val_percent

listing_id    0.0
date          0.0
available     0.0
dtype: float64

###**Data cleaning for listing.csv**

In [105]:
total_null_vals = ListingsDf.isnull().sum()
null_val_percent = (total_null_vals/ len(ListingsDf)) * 100
null_val_percent

id                                   0.000000
listing_url                          0.000000
scrape_id                            0.000000
last_scraped                         0.000000
name                                 0.000000
                                      ...
cancellation_policy                  0.000000
require_guest_profile_picture        0.000000
require_guest_phone_verification     0.000000
calculated_host_listings_count       0.000000
reviews_per_month                   16.422211
Length: 92, dtype: float64

Dropping Unncessary Columns

In [106]:
ListingsDf.drop(columns=['listing_url', 'scrape_id', 'last_scraped', 'summary','experiences_offered','space', 'description',
                      'notes', 'transit', 'thumbnail_url', 'medium_url','picture_url','host_about','host_location',
                      'smart_location', 'xl_picture_url', 'host_url','host_thumbnail_url','country_code', 'country',
                      'host_picture_url','host_has_profile_pic','host_response_rate','host_is_superhost',
                      'host_neighbourhood','host_verifications','bed_type','neighbourhood',
                      'calendar_updated','calendar_last_scraped', "neighborhood_overview",'jurisdiction_names',"host_about",
                     "review_scores_accuracy", "review_scores_cleanliness","review_scores_checkin",
                      "review_scores_communication", "review_scores_location","review_scores_value",'reviews_per_month',
                      'requires_license','is_location_exact',
], inplace=True)

Drop Columns with High Percentage of Missing Values:

In [107]:
ListingsDf.drop(columns=['license', "square_feet","weekly_price","monthly_price"], inplace=True)

Numeric Columns: Filling null values

In [108]:
ListingsDf['security_deposit'].fillna(value = '$0.00', inplace = True)
ListingsDf['cleaning_fee'].fillna(value = '$0.00', inplace = True)
ListingsDf['host_listings_count'].fillna(ListingsDf['host_listings_count'].mean(), inplace=True)
ListingsDf['host_total_listings_count'].fillna(ListingsDf['host_total_listings_count'].mean(), inplace=True)
ListingsDf['review_scores_rating'].fillna(ListingsDf['review_scores_rating'].mean(), inplace=True)

<ipython-input-108-e0ef4f4e4cd8>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ListingsDf['security_deposit'].fillna(value = '$0.00', inplace = True)
<ipython-input-108-e0ef4f4e4cd8>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ListingsDf['cleaning_fee'].fillna(value = '$0.00', inplace = True)
<ipython-input-108-e0ef4f4e4cd8>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ListingsDf['host_listings_count'].fillna(ListingsDf['host_listings_count'].mean(), inplace=True)
<ipython-input-108-e0ef4f4e4cd8>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ListingsDf['host_total_listings_count'].fillna(ListingsDf['host_total_listings_count'].mean(), inplace=True)
<ipython-input-108-e0ef4f4e4cd8>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ListingsDf['review_scores_rating'].fillna(ListingsDf['review_scores_rating'].mean(), inplace=True)

Categorical Columns: Filling null values for valid categorical columns with Unknown

In [109]:
ListingsDf['host_response_time'].fillna(value = 'Unknown', inplace = True)
ListingsDf['host_acceptance_rate'].fillna(value = 'Unknown', inplace = True)

cat_null_to_mode = ['property_type','bathrooms','bedrooms','beds']
for column in cat_null_to_mode:
    ListingsDf[column].fillna(ListingsDf[column].mode()[0], inplace=True)

<ipython-input-109-ceb7540e85b6>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ListingsDf['host_response_time'].fillna(value = 'Unknown', inplace = True)
<ipython-input-109-ceb7540e85b6>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ListingsDf['host_acceptance_rate'].fillna(value = 'Unknown', inplace = True)
<ipython-input-109-ceb7540e85b6>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ListingsDf[column].fillna(ListingsDf[column].mode()[0], inplace=True)

Datetime Columns:

1) Filling host_since null values with mode

2) Dropping first_review and last_review columns

In [110]:
ListingsDf['host_since'].fillna(ListingsDf['host_since'].mode()[0], inplace = True)
ListingsDf.drop(columns=['first_review', 'last_review'], inplace=True)

<ipython-input-110-e43acc3d8b63>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ListingsDf['host_since'].fillna(ListingsDf['host_since'].mode()[0], inplace = True)

Boolean Columns: Filling null values with False

In [111]:
ListingsDf['host_identity_verified'].fillna(False, inplace = True)

<ipython-input-111-6ef8acfdc0df>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ListingsDf['host_identity_verified'].fillna(False, inplace = True)

Crucial identifier missing:

Dropping Host_name rows having null values

In [112]:
ListingsDf.dropna(subset=['host_name'], inplace=True)

Handling zipcode null values as it is crucial

In [113]:
rows_with_null_zipcode = ListingsDf[ListingsDf['zipcode'].isnull()]
rows_with_null_zipcode

,id,name,host_id,host_name,host_since,host_response_time,host_acceptance_rate,host_listings_count,host_total_listings_count,host_identity_verified,...,availability_60,availability_90,availability_365,number_of_reviews,review_scores_rating,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count
162,2039149,Walkable Seattle 3-bedroom Home,5325329,Blair,2013-03-04,within a few hours,100%,9.0,9.0,t,...,42,58,124,121,91.000000,t,strict,f,f,8
479,610989,Inn of Twin Gables - North Room,3029318,Katie,2012-07-23,Unknown,Unknown,1.0,1.0,t,...,0,0,2,1,100.000000,f,strict,f,f,1
988,4172364,Blue Room,21649497,Jerome,2014-09-22,within an hour,100%,4.0,4.0,t,...,60,90,365,33,97.000000,f,flexible,f,f,4
1672,8355276,Downtown studio close to everything,22049520,Rilwan,2014-10-02,within an hour,100%,1.0,1.0,t,...,23,42,42,14,87.000000,t,flexible,f,f,1
1917,2134911,The Studio at Mibbett Hollow - Boat,4122018,Lynne,2012-11-11,within an hour,Unknown,3.0,3.0,t,...,60,90,365,5,92.000000,f,strict,t,t,2
2521,2332949,Centrally located Roanoke Park home,640731,Dan And Natalia,2011-05-29,within an hour,100%,1.0,1.0,t,...,60,90,347,38,95.000000,f,strict,f,f,1
2671,9774404,Bohemian Studio in Capitol Hill,18746557,Amanda,2014-07-23,Unknown,Unknown,1.0,1.0,f,...,0,0,7,0,94.539262,f,flexible,f,f,1

In [114]:
ListingsDf.at[162, 'zipcode'] = 98107
ListingsDf.at[479, 'zipcode'] = 98119
ListingsDf.at[988, 'zipcode'] = 98122
ListingsDf.at[1672, 'zipcode'] = 98101
ListingsDf.at[1917, 'zipcode'] = 98199
ListingsDf.at[2521, 'zipcode'] = 98102
ListingsDf.at[2671, 'zipcode'] = 98102
ListingsDf.reset_index(drop=True, inplace=True)

recheck null

In [115]:
total_null_vals = ListingsDf.isnull().sum()
null_val_percent = (total_null_vals/ len(ListingsDf)) * 100
null_val_percent

id                                  0.0
name                                0.0
host_id                             0.0
host_name                           0.0
host_since                          0.0
host_response_time                  0.0
host_acceptance_rate                0.0
host_listings_count                 0.0
host_total_listings_count           0.0
host_identity_verified              0.0
street                              0.0
neighbourhood_cleansed              0.0
neighbourhood_group_cleansed        0.0
city                                0.0
state                               0.0
zipcode                             0.0
market                              0.0
latitude                            0.0
longitude                           0.0
property_type                       0.0
room_type                           0.0
accommodates                        0.0
bathrooms                           0.0
bedrooms                            0.0
beds                                0.0
amenities                           0.0
price                               0.0
security_deposit                    0.0
cleaning_fee                        0.0
guests_included                     0.0
extra_people                        0.0
minimum_nights                      0.0
maximum_nights                      0.0
has_availability                    0.0
availability_30                     0.0
availability_60                     0.0
availability_90                     0.0
availability_365                    0.0
number_of_reviews                   0.0
review_scores_rating                0.0
instant_bookable                    0.0
cancellation_policy                 0.0
require_guest_profile_picture       0.0
require_guest_phone_verification    0.0
calculated_host_listings_count      0.0
dtype: float64

In [116]:
# prompt: ListingsDf in column 'host_acceptance_rate' contains "100%" and "unknow", please remove"%" in "100%"

ListingsDf['host_acceptance_rate'] = ListingsDf['host_acceptance_rate'].str.replace('%', '', regex=False)

In [117]:
ListingsDf['state'].replace('wa', 'WA', inplace=True)
ListingsDf['amenities'] = ListingsDf['amenities'].str.replace('[{}""]', '', regex=True)
ListingsDf['security_deposit'] = pd.to_numeric(ListingsDf['security_deposit'].str.replace('[\$,]', '', regex=True), errors='coerce')
ListingsDf['price'] = pd.to_numeric(ListingsDf['price'].str.replace('[\$,]', '', regex=True), errors='coerce')
ListingsDf['cleaning_fee'] = pd.to_numeric(ListingsDf['cleaning_fee'].str.replace('[\$,]', '', regex=True), errors='coerce')
ListingsDf['extra_people'] = pd.to_numeric(ListingsDf['extra_people'].str.replace('[\$,]', '', regex=True), errors='coerce')
ListingsDf['host_acceptance_rate'] = ListingsDf['host_acceptance_rate'].str.replace('%', '', regex=False)

<ipython-input-117-e24f424b291a>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ListingsDf['state'].replace('wa', 'WA', inplace=True)

In [118]:
bool_cols = [
    'host_identity_verified', 'has_availability', 'instant_bookable',
    'require_guest_profile_picture', 'require_guest_phone_verification'
]
for col in bool_cols:
    ListingsDf[col] = ListingsDf[col].map({'t': True, 'f': False})

In [132]:
ListingsDf['city'].replace('seattle','Seattle', inplace=True)

<ipython-input-132-26de05ed98fd>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ListingsDf['city'].replace('seattle','Seattle', inplace=True)
<ipython-input-132-26de05ed98fd>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ListingsDf['city'].replace('seattle ','Seattle', inplace=True)

In [135]:
ListingsDf['city'].unique()

array(['Seattle', 'Ballard, Seattle', 'West Seattle', 'Seattle ',
       'Phinney Ridge Seattle'], dtype=object)

In [136]:
ListingsDf = ListingsDf[ListingsDf['city'] != "è¥¿é›…å›¾"]

recheck data

In [137]:
ListingsDf.head()

,id,name,host_id,host_name,host_since,host_response_time,host_acceptance_rate,host_listings_count,host_total_listings_count,host_identity_verified,...,number_of_reviews,review_scores_rating,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,host_duration_years,price_per_person,availability_ratio
0,241032,Stylish Queen Anne Apartment,956883,Maija,2011-08-11,within a few hours,100,3.0,3.0,True,...,207,95.000000,False,moderate,False,False,2,13,21.250000,0.947945
1,953595,Bright & Airy Queen Anne Apartment,5177328,Andrea,2013-02-21,within an hour,100,6.0,6.0,True,...,43,96.000000,False,strict,True,True,6,12,37.500000,0.797260
2,3308979,New Modern House-Amazing water view,16708587,Jill,2014-06-12,within a few hours,100,2.0,2.0,True,...,20,97.000000,False,strict,False,False,2,10,88.636364,0.602740
3,7421966,Queen Anne Chateau,9851441,Emily,2013-11-06,Unknown,Unknown,1.0,1.0,True,...,0,94.539262,False,flexible,False,False,1,11,33.333333,0.391781
4,278830,Charming craftsman 3 bdm house,1452570,Emily,2011-11-29,within an hour,Unknown,2.0,2.0,True,...,38,92.000000,False,strict,False,False,1,13,75.000000,1.000000

###**Data cleaning for reviews.csv**

In [120]:
total_null_vals = ReviewsDf.isnull().sum()
null_val_percent = (total_null_vals/ len(ReviewsDf)) * 100
null_val_percent

listing_id       0.000000
id               0.000000
date             0.000000
reviewer_id      0.000000
reviewer_name    0.000000
comments         0.021214
dtype: float64

Dropping unnecessary column

In [121]:
ReviewsDf.drop(columns=['comments'], inplace=True)

recheck null

In [122]:
total_null_vals = ReviewsDf.isnull().sum()
null_val_percent = (total_null_vals/ len(ReviewsDf)) * 100
null_val_percent

listing_id       0.0
id               0.0
date             0.0
reviewer_id      0.0
reviewer_name    0.0
dtype: float64

##**Feature engineering**

All new feature will create in **listing.csv**

###create **host_duration_years**

In [123]:
ListingsDf['host_since'] = pd.to_datetime(ListingsDf['host_since'])
ListingsDf['host_duration_years'] = (pd.to_datetime('today') - ListingsDf['host_since']).dt.days // 365

###create **price_per_person**

In [124]:
ListingsDf['price_per_person'] = ListingsDf['price'] / ListingsDf['accommodates']

###create **availability_ratio**

In [125]:
ListingsDf['availability_ratio'] = ListingsDf['availability_365'] / 365.0

In [129]:
ListingsDf.head()

,id,name,host_id,host_name,host_since,host_response_time,host_acceptance_rate,host_listings_count,host_total_listings_count,host_identity_verified,...,number_of_reviews,review_scores_rating,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,host_duration_years,price_per_person,availability_ratio
0,241032,Stylish Queen Anne Apartment,956883,Maija,2011-08-11,within a few hours,100,3.0,3.0,True,...,207,95.000000,False,moderate,False,False,2,13,21.250000,0.947945
1,953595,Bright & Airy Queen Anne Apartment,5177328,Andrea,2013-02-21,within an hour,100,6.0,6.0,True,...,43,96.000000,False,strict,True,True,6,12,37.500000,0.797260
2,3308979,New Modern House-Amazing water view,16708587,Jill,2014-06-12,within a few hours,100,2.0,2.0,True,...,20,97.000000,False,strict,False,False,2,10,88.636364,0.602740
3,7421966,Queen Anne Chateau,9851441,Emily,2013-11-06,Unknown,Unknown,1.0,1.0,True,...,0,94.539262,False,flexible,False,False,1,11,33.333333,0.391781
4,278830,Charming craftsman 3 bdm house,1452570,Emily,2011-11-29,within an hour,Unknown,2.0,2.0,True,...,38,92.000000,False,strict,False,False,1,13,75.000000,1.000000

##**Download cleaned data**

for Tablueau analysis

In [138]:
# Check if the directory exists, create it if it doesn't
cleaned_data_dir = 'cleaned_data'
if not os.path.exists(cleaned_data_dir):
    os.makedirs(cleaned_data_dir)

# Save the dataframes to CSV files
CarlendarDf.to_csv(os.path.join(cleaned_data_dir, 'calendar.csv'), index=False)
ListingsDf.to_csv(os.path.join(cleaned_data_dir, 'listing.csv'), index=False)
ReviewsDf.to_csv(os.path.join(cleaned_data_dir, 'reviews.csv'), index=False)

print(f"Cleaned data saved to the '{cleaned_data_dir}' directory.")

Cleaned data saved to the 'cleaned_data' directory.

#**Create Regression model**

for this part we use **XGBoost Regressor** for prediction, learn more about **XGBoost Regressor** [HERE](https://www.geeksforgeeks.org/xgboost-for-regression/)